body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.layout {
   height: 100vh;
   vertical-align: top;
}
.nav--left {
  height: 100%;
  background: #343436;
  color: white;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
 
}

.layout__left {
  border-right: 2px solid darkgray;
  flex-grow: 0;
  overflow-y: hidden;
}

.layout__right {
  flex: 1;
  overflow-y: hidden;
}

nav {
  background: #4e014e;
  padding: 10px;
}

nav h1 {
 margin: 0;
 color: white;
}

.content {
  background: purple;
  height: 70%;
  overflow-y: auto;
}

.content h2 {
  text-align: center;
  padding: 40px 0;
  color: white;
  font-size: 17px;
}

.content.active {
  height: 100%;
}

.calculator-container {
  flex: 0.9;
  overflow-y: scroll;
}

.callout--more-questions {
  background: #4e014e;
  padding: 50px 20px;
  margin-top: 25px;
  color: white;
  text-align: center;
}

.form-container {
   padding: 0px 20px;
}

select, input {
      background: #eee;
    border: 0;
    padding: 8px 20px 8px 5px;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.form__submit-holder {
  text-align: center;
  padding: 40px 20px;
}

button {
  padding: 20px;
  width: 100%;
  color: white;
  background: purple;
  border: 0;
  border-radius: 15px 10px;
  font-weight: 700;
  font-size: 22px;
}

.ads {
  height: 30%;
}

.ads img {
  width: 100%;
}

label, select {
  display: inline-block;
}

select {
  max-width: 90%;
}
.long-selects label {
  display: block;
  margin: 10px 0;
}

label {
  margin-right: 5px;
}

.other-calculators {
 flex-grow: 0.03;
}

.other-calculators a {
  display: block;
  color: white;
  text-align: center;
  font-size: 27px;
  padding: 10px 0;
}

.other-calculators a:hover {
  background: #49494c;
  border-radius: 100%;
}

.ng-valid button[type=submit] {
    cursor: pointer;
}